
*.org#

empirics/agg_empirics/.#all_exercises.org

empirics/agg_empirics/all_exercises.pdf

empirics/agg_empirics/all_exercises.tex

empirics/agg_empirics/auto/all_exercises.el

*.dta

octave-workspace
*.mat
empirics/agg_empirics/codes/crap.do

empirics/agg_empirics/codes/crap1.do

empirics/agg_empirics/codes/crap2.do

empirics/agg_empirics/codes/crap3.do

*.irf

*.mexmaci64

empirics/agg_empirics/codes/MS_Regress_FEX_1.09/trial1.eps
