
*.org#

empirics/agg_empirics/.#all_exercises.org

empirics/agg_empirics/all_exercises.pdf

empirics/agg_empirics/all_exercises.tex

empirics/agg_empirics/auto/all_exercises.el

*.dta

octave-workspace
*.mat
empirics/agg_empirics/codes/crap.do
